{% load static %}
<!DOCTYPE html>
<html lang="ko">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<!-- Bootstrap CSS-->
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'bootstrap.min.css' %}"
		/>
		<!-- qna CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
		<title>The Premium | 과수원</title>

		<!-- 페이지 분할 -->
		{% comment %}
		<style>
			div.left {
				width: 50%;
				float: left;
				box-sizing: border-box;
				background: #8977ad;
			}
			div.right {
				width: 50%;
				float: right;
				box-sizing: border-box;
				background: #ece6cc;
			}
		</style>
		{% endcomment %}

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<script>
			function goBack() {
				var previousUrl = document.referrer;

				window.location.href = previousUrl;
			}
		</script>
	</head>
	<body>
		<!-- 네비게이션바 -->
		{% include "navbar.html" %}
		<!-- 기본 템플릿 안에 삽입될 내용 Start -->
		{% block content %} {% endblock %}
		<!-- 기본 템플릿 안에 삽입될 내용 End -->
		<!-- Bootstrap JS -->
		<script src="{% static 'bootstrap.min.js' %}"></script>
	</body>
</html>
