{% load static %}
<!DOCTYPE html>
<html lang="ko">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<!-- Bootstrap CSS-->
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'bootstrap.min.css' %}"
		/>
		<!-- qna CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
		<title>질문당직</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<!-- 네비게이션바 -->
		{% include "navbar.html" %}
		<!-- 기본 템플릿 안에 삽입될 내용 Start -->
		{% block content %} {% endblock %}
		<!-- 기본 템플릿 안에 삽입될 내용 End -->
		<!-- Bootstrap JS -->
		<script src="{% static 'bootstrap.min.js' %}"></script>

		<script>
			$(document).ready(function () {
				$("#myButton").click(function () {
					// AJAX 요청
					$.ajax({
						url: "/reserve/delete/{{ reserve.id }}/",
						type: "POST",
						data: {
							csrfmiddlewaretoken: "{{ csrf_token }}",
						},
						success: function (data) {
							// 팝업 창에 메시지 출력
							alert(data.message);
						},
						error: function (xhr, errmsg, err) {
							console.log(xhr.status + ": " + xhr.responseText);
						},
					});
				});
			});
		</script>
	</body>
</html>
