{% extends 'base.html' %} {% block content %}
<div class="container my-3">
	<table class="table">
		<h2 id="current_date"></h2>
		<h3>질문당직 선생님 / 시간</h3>
		<script>
			date = new Date();
			year = date.getFullYear();
			month = date.getMonth() + 1;
			day = date.getDate();
			document.getElementById("current_date").innerHTML = month + "/" + day;
		</script>
		<tbody>
			<table class="table">
				<thread> <tr class="table-light"></tr></thread>
			</table>
		</tbody>
		<table class="table">
			<thread>
				<tr class="table-light">
					{% if teacher %} {% for teacher in teacher %}
					<th>
						<a href="{% url 'qna:detail' teacher.id %}"
							>{{ teacher.name }} 선생님</a
						>
					</th>
					{% endfor %} {% else %}
					<p>질문 당직 선생님이 없습니다.</p>
					{% endif %}
				</tr>
			</thread>
		</table>
	</table>
</div>

{% endblock %}
