{% extends 'base.html' %} {% block content %}
<div class="container my-3">
	<table class="table">
		<h2 id="current_date"></h2>
		<h3>질문당직 선생님 / 시간</h3>
		<script>
			date = new Date();
			year = date.getFullYear();
			month = date.getMonth() + 1;
			day = date.getDate();
			document.getElementById("current_date").innerHTML = month + "/" + day;
		</script>
		<tbody>
			<table class="table">
				<thread> <tr class="table-light"></tr></thread>
			</table>
		</tbody>
			<table class="table">
			<thread>
				<tr class="table-light">
					{% if teacher %} {% for teacher in teacher %}
					<th>
						<a href="{% url 'qna:detail' teacher.id %}"
							>{{ teacher.name }}T</a
						>
					</th>
					{% endfor %} {% else %}
					<p>질문 당직 선생님이 없습니다.</p>
					{% endif %}
				</tr>
			</thread>
		</table>
	</br>
		<h3> 질문당직 스케줄표 </h3>
	</br>
			<table style="border:1px 단색 검정" text_align="center" class="table">
				<th> 과목 </th>
				<th> 선생님 </th>
				<th> 월 </th>
				<th> 화 </th>
				<th> 수 </th>
				<th> 목 </th>
				<th> 금 </th>
				<th> 토 </th>
				<th> 일 </th>
					<tr>
						<td> 국어 </td>
						<td> 신석철T </td>
						<td> - </td>
						<td>17:00 ~ 23:00</td>
						<td> - </td>
						<td> 14:00 ~ 23:00 </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
					</tr>
					<tr>
						<td> 수학 </td>
						<td> 홍기은T </td>
						<td> - </td>
						<td>17:30 ~ 23:30</td>
						<td>17:30 ~ 23:30</td>
						<td> - </td>
						<td> - </td>
						<td> 13:00 ~ 19:00 </td>
						<td> - </td>
					</tr>
					<tr>
						<td> 수학 </td>
						<td> 박현빈T </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> 19:00 ~ 23:00 </td>
						<td> 19:00 ~ 23:00 </td>
						<td> - </td>
						<td> - </td>
					</tr>
					<tr>
						<td> 물리, 화학 </td>
						<td> 신준철T </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> 13:00 ~ 16:00 </td>
						<td> - </td>
					</tr>
					<tr>
						<td> 생명, 지구 </td>
						<td> 현상민T </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> 13:00 ~ 16:00 </td>
					</tr>
					<tr>
						<td> 화학, 생명 </td>
						<td> 정우진T </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> 17:30 ~ 20:30 </td>
					</tr>
					<tr>
						<td> 통과, 화학 </td>
						<td> 송진화T </td>
						<td> 17:00 ~ 23:00 </td>
						<td> - </td>
						<td> 17:00 ~ 19:00 </td>
						<td> - </td>
						<td> - </td>
						<td> 20:00 ~ 23:00 </td>
						<td> - </td>
					</tr>
		</table>
</div>

{% endblock %}
