{% extends 'base.html' %} {% block content %}
<div class="container my-3">
	<table class="table">
		<h3> 질문 당직 스케줄표 </h3>
			<table style="border:1px gray; text-align:center;" class="table">
				<col style="border-right: 1px solid black; width: 9%;">
  			<col style="border-right: 1px solid black; width: 7%;">
 	 			<col style="border-right: 1px solid black; width: 12%;">
 	 			<col style="border-right: 1px solid black; width: 12%;">
  			<col style="border-right: 1px solid black; width: 12%;">
  			<col style="border-right: 1px solid black; width: 12%;">
  			<col style="border-right: 1px solid black; width: 12%;">
  			<col style="border-right: 1px solid black; width: 12%;">
				<th> 과목 </th>
				<th> 선생님 </th>
				<th> 월 </th>
				<th> 화 </th>
				<th> 수 </th>
				<th> 목 </th>
				<th> 금 </th>
				<th> 토 </th>
				<th> 일 </th>
					<tr>
						<td> 국어 </td>
						<td> 신석철T </td>
						<td> - </td>
						<td> <a href="{% url 'qna:detail' 1 %}" style="text-decoration:none">19:00 ~ 23:00 </a> </td>
						<td> - </td>
						<td>
							<a href="{% url 'qna:detail' 1 %}" style="text-decoration:none">19:00 ~ 23:00 </a>
						</td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
					</tr>
					<tr>
						<td> 수학 </td>
						<td> 박현빈T </td>
						<td> 
							<a href="{% url 'qna:detail' 3 %}" style="text-decoration:none">19:00 ~ 23:00</a>
						</td>
						<td> - </td>
						<td> - </td>
						<td> <a href="{% url 'qna:detail' 3 %}" style="text-decoration:none">19:00 ~ 23:00</a> </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
					</tr>
					<tr>
						<td> 수학 </td>
						<td> 강형곤T </td>
						<td> - </td>
						<td> <a href="{% url 'qna:detail' 8 %}" style="text-decoration:none"> 19:00 ~ 23:00 </a> </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
					</tr>
					{% comment %} <tr>
						<td> 물리, 화학 </td>
						<td> 신준철T </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> <a href="{% url 'qna:detail' 4 %}" style="text-decoration:none">예약</a> </td>
						<td> 14:30 ~ 16:00 </td>
						<td> - </td>
					</tr>
					<tr>
						<td> 생명, 지구 </td>
						<td> 현상민T </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> <a href="{% url 'qna:detail' 5 %}" style="text-decoration:none">예약</a> </td>
						<td> - </td>
						<td> 13:00 ~ 16:00 </td>
					</tr> {% endcomment %}
					<tr>
						<td> 통과, 화학 </td>
						<td> 송진화T </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> <a href="{% url 'qna:detail' 7 %}" style="text-decoration:none">예약</a> </td>
						<td> 20:00 ~ 23:00 </td>
						<td> - </td>
					</tr>
		</table>
</div>

{% endblock %}
