{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <h1>{{ teacher.name }} 선생님</h1>
    <script>
            date = new Date();
            year = date.getFullYear();
            month = date.getMonth() + 1;
            day = date.getDate();
            document.getElementById("current_date").innerHTML = month + "/" + day ;
        </script>
    <table class="table">
        <thread>
            <tr class="table-dark">
                <th>시간</th>
                <th>예약한 학생</th>
                <th>예약</th>
            </tr>
            {% for r in reserve %}
            {% if r.date == today %}
                {% if r.teacher_id == teacher %}
                <tr class"table-light">
                    <td>
                        {{ r.time }}
                    </td>

                    <td>
                    {% if r.student_name != blank %}
                        {{ r.student_name }}
                    {% else %}
                        -
                    {% endif %}
                </td>

                <td>
                    {% if r.student_name == blank %}
                        <a href="{% url 'qna:reserve_complete' r.id %}" class="btn btn-primary">
                            예약      
                    {% endif %}
                    {% if r.student_name == user %}                  
                        <a href="{% url 'qna:reserve_delete' r.id %}" class="btn btn-danger">
                            취소
                    {% endif %}
                    </td>
                {% endif %}
                {% endif %}
            {% endfor %}
            </tr>
        </thread>
    </table>
</div>

{% endblock %}